{% extends 'base.html' %}

{% block content %}
  
    <div class="container">
        <div class="row">
            <div class="col s4 m4 l4 offset-s4 offset-m4 offset-l4">
                <div class="card white darken-3">
                    <div class="card-content teal-text center">
                        <form name="password_change_form" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="/accounts/password_changed"/>
                            <div class='row'>
                                <span class="card-title">Change Password</span>
                            </div>
                            
                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type="password" name='old_password' id='id_old_password' required />
                                    <label for='id_old_password'>Old Password</label>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='input-field col m12'>
                                    <input class='validate' type='password' name='new_password1' id='id_new_password1' required />
                                    <label for='id_new_password1'>New Password</label>
                                </div>
                            </div> 
                            <div class='row'>
                                <div class='input-field col m12'>
                                    <input class='validate' type='password' name='new_password2' id='id_new_password2' required />
                                    <label for='id_new_password2'>New Password Confirmation</label>
                                </div>
                            </div> 
                            <div>
                                <center>
                                    <div class='row'>
                                        <button style="margin-left:65px;" type='submit' name='btn_login'
                                            class='col s7 btn btn-small waves-effect waves-light btn z-depth-1 y-depth-1'>Submit</button>
                                    </div>
                                </center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="section"><i class="mdi-alert-error red-text"></i></div>
        </div>
    </div>
    </div>
{% endblock  %}
    
    