{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}    {% endblock title %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% endcomment %}
    
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png'%}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png'%}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png'%}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png'%}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png'%}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png'%}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png'%}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png'%}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png'%}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images//favicon-32x32.png'%}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png'%}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png'%}">
<link rel="manifest" href="{% static 'images/manifest.json'%}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png'%}">
<meta name="theme-color" content="#ffffff">
</head>

<body>

<nav>
        <div class="container">
        <div class="row">
        {% if user.is_authenticated %} 
            <div class="col s6 m8 l8 ">
                
                    
                        <div class="nav-wrapper" style="">
                            
                            <a href="/" class="brand-logo left" style="margin-top:-0.4%;">
                             <img src="/static/images/iitk-logo.png" style="vertical-align: middle;" width="65" height="auto">
                            <span  class="hide-on-small-only" style="font-family: Times New Roman;">Computer Systems Security</span>
</a>
                        </div>
                     
                  
            </div>
           
            <div class="col s6 m4 l4">
                <div class="nav-wrapper">
                
                
                    <ul id="nav-mobile" class="right"> 
                        
                       
                        <li><a href="{% url 'password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                       {% comment %} <li>
                     
                        <button  class="waves-effect waves-light btn  "
                                    onclick="window.location='{% url 'password_change' %}'">Change Password </button>
                        </li>
                        <li>
                
                        <button  class="waves-effect waves-light btn "
                                    onclick="window.location='{% url 'logout' %}'">Logout </button>
                        </li> {% endcomment %}
                    </ul> 
                  
                </div>

            </div>
            
        {% else %} 
        <div class="col s12 m10 l7 offset-m2 offset-l4 ">
               <div class="nav-wrapper" style="">
                            
                            <a href="/" class="brand-logo left" style="margin-top:-0.4%;">
                             <img src="/static/images/iitk-logo.png" style="vertical-align: middle;" width="65" height="auto">
                            <span  class="hide-on-small-only" style="font-family: Times New Roman;">Computer Systems Security</span>
</a>
                        </div>
            </div> {% endif %}
            
        </div>
            
        </div>
    </nav>
    

{% block content %}

{% endblock %}
<script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script>
   

    </script>

    </body>

</html>
